<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Tests/bootstrap.php">
    <php>
        <!-- The path to your app folder -->
        <server name="KERNEL_DIR" value="../../../../../../app/"/>
    </php>
    <testsuites>
        <testsuite name="ElvisJobBundle Test Suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>